body {
    text-align: center;
    background-color: black;
    color: white;

}

.container {
    height: 450px;
    width: 450px;
    margin: auto;
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
}

.box{
    height: 13rem;
    width: 13rem;
    border : 0.3125rem solid white;
   
}

.box1 {
    background-color: brown;
    border-top-left-radius: 100%;
}

.box2 {
    background-color: seagreen;
    border-top-right-radius: 100%;
}

.box3 {
    background-color: cornflowerblue;
    border-bottom-left-radius: 100%;
}

.box4 {
    background-color: hotpink;
    border-bottom-right-radius: 100%;
}

.gameflash {
    background-color: white;
}

.userflash {
    background-color: yellow;
}

.startbtn {
    width: 10%;
}

@media only screen and (max-width: 600px) {

    .container {
        height: 100%;
        width: 100%;
        margin: 50px 0;
    }

    .box{

        height: 150px;
        width: 150px;
        border : 0.3125rem solid white;
   
    }

    .box1 {
        margin-bottom: 10px;
    }

    .startbtn {
        width: 30%;
    }

}
